nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 71px;
    align-items: center;
    background-color: #0779E4;
    position: fixed;
    width: 100%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.text-white{
    color: white;
}

.hero{
    background-image: url(../images/hero.Bg.png);
    height: 100vh;
    background-size: cover;
    padding-left: 10%;
}

.hero-info{
    height: 60%;
    padding-top: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-size: 60px;
}

.btn{
    height: 53px;
    padding: 16px 24px;
     border-radius: 4px; 
}

.btn-blue{
    color: white;
    background-color: #0779E4;   
}
.btn-white{
    color: #0779E4;
    background-color: white;
}

/* .about{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.about-items{
    margin-left: 40px;
    text-wrap: wrap;
    padding: 50px;
} */

/* .hi{
    padding: 20px;
    background-color: white;
    width: 10%;
    border-radius: 15px;
}

.text-blue{
    color: blue;
} */